*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store
**/.DS_Store
db/schema.rb

# YARD artifacts
.yardoc
_yardoc
doc/
uploads/
